<div>
    <ng-content></ng-content>
</div>

<div>
    {{rNum}} <br>
    <span *ngFor="let role of this.roles">
        <button pButton type="button"  label={{role}} (click)="loadSales(role)"></button>
    </span>
</div>
<p-table #tb [columns]="cols" [value]="this.roleData[role]">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>

<p>
    Birthday :- {{birthday | date | uppercase}}
    <br>
    {{30 | currency:'INR'}}
    <br>
    {{ 30 | percent}}
</p>
