<div>
    <p>Templates</p>
    <!-- Component Directive  -->
    <app-buttons></app-buttons>
</div>
<div>
    <!-- Attribute Directive -->
    <p [ngClass]="'italic bold'">Attribute directive</p>
    <p [ngClass]="['italic','bold']">Attribute directive</p>
    <p [ngClass]="{italic:true,bold:false}">Attribute directive</p>
</div>
<div>
    <ng-container *ngTemplateOutlet="sample; context:{$implicit: data, name:'Akish'}"></ng-container>
    <hr />

    <ng-template #sample let-data let-name="name">
        <span>{{ data.name }} and {{name}} from {{data.title}} </span>
    </ng-template>
</div>

<app-buttons>
    Hi This is ng content
</app-buttons>
<!-- <ng-container *ngTemplateOutlet="sample; context: {$implicit: 'World', name: 'Krishna' }"></ng-container>
<hr />

<ng-template #sample let-word let-person="name"
  ><span>Hello {{ word }}! from {{ name }}</span></ng-template
> -->
<div class="container">
    <input type="text" value="" #txt>
    <button type="button" (click)="Add(txt.value)">Add</button>
    {{country | joinArray}}
</div>
