/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th {
    border-width: 1px 1px 1px 1px;
    width: 150px !important;
}

.p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th > input {
    border-width: 1px 1px 1px 1px;
    padding: 10px 10px 10px 10px !important;
    width: 135px !important;
}

.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td {
    border-width: 1px;
    width: 150px !important;
}
.p-inputtext {
    width: 150px;
}

.p-button.p-button-help, .p-buttonset.p-button-help > .p-button, .p-splitbutton.p-button-help > .p-button {
position:absolute;
right: 1px;
}

.p-button.p-button-danger, .p-buttonset.p-button-danger > .p-button, .p-splitbutton.p-button-danger > .p-button {
    left: 5px;
}